<h1>Browse Stories</h1>

<h2>By Category</h2>

<div class="all_categories">
  <ul class="categories">
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
  </ul>
</div>

<h2>By Title</h2>

<div class="all_stories">
  <ul class="stories">
  <% @stories.each do |story| %>
    <li><%= link_to story.heading, story_path(story) %></li>
  <% end %>
  </ul>
</div>
