body {
  font-size: 18px;
  margin: 0;
  height: 100%;
}
html {
  height: 100%;
}
.welcome_home {
  background-image: url("http://s3.amazonaws.com/GBrief/uploads/article/preview_image/499/Millennial_Explorers.jpg");
}
.welcome_home p {
  width: 60%;
  text-align: center;
  margin: auto;
  font-size: 20px;
  line-height: 50px;
}
.welcome_page {
  background-color: rgba(255, 255, 255, .5);
  height: 100%;
}
.all_pics {
  text-align: center;
}
.all_pics img {
  width: 700px;
  height: 550px;
}
.logo, .home_logo {
  text-align: center;
}
.logo a, .home_logo h1 {
  font-size: 75px;
  font-weight: bolder;
  margin: 0;
}
.all_categories, .all_stories, .all_contributors {
  margin: 0;
  padding: 0;
}
.actions {
  margin: 5px 0;
  border-radius: 5px;
}
input[type="submit"] {
  padding: 5px;
}
ul {
  padding: 0;
}

/*unsure here*/
h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
  line-height: 20px;
}

h3 {
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

li {
  padding:3px;
}

small {
  font-size: 15px;
  padding: 0;
  margin: 0;
}
.content {
  text-align: left;
  margin: 0 20%;
  padding: 10px;
}

.story_image {
  margin: auto;
  width: 300px;
}

.story_image img {
  width: 100%;
  height: auto;
}

/*a normal, unvisited link*/
a:link {
  text-decoration: none;
}

/*a link the user has visited*/
a:visited {
  text-decoration: none;
}

/*a link when the user mouses over it*/
a:hover {
  text-decoration: none;
}

.story_actions {
  display: inline;
}

.profile {
  text-align: center;
}

.profile h4 {
  text-align: center;
}

.profile li {
  list-style-type: none;
}

/*Navigation elements*/
.nav_bar {
  margin: 0;
  padding: 0;
}

.menu {
  text-align: center;
  margin: 0 0 20px 0;
  padding: 10px;
}

.menu a{
  text-decoration: none;
}

.menu li {
  display: inline;
  list-style-type: none;
  padding: 0 20px;
  font-size: 20px;
}
