<!DOCTYPE html>
<html>

<head>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Ruda:400,900,700' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>L.I.F.E.</title>

</head>

<body>

	<%= yield %>

</body>
</html>
